<?xml version="1.0"?>
<phpunit
        bootstrap="./test/phpunit/Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="NNX Doctrine Toolkit">
            <directory>./test/phpunit/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./test</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-php" target="./build/logs/coverage/coverage-phpunit.cov"/>
    </logging>

    <listeners>
        <listener class="\Nnx\ZF2TestToolkit\Listener\InitTestAppListener">
            <arguments>
                <!-- Имя соеденения - которое можно получить через сервис doctrine.connection.ИМЯ_СОЕДЕНЕНИЯ -->
                <string>test</string>
                <!-- Используемый драйвер -->
                <string>\Doctrine\DBAL\Driver\PDOMySql\Driver</string>
                <array>
                    <element key="host">
                        <string>test_hosts</string>
                    </element>
                    <element key="port">
                        <string>test_port</string>
                    </element>
                    <element key="user">
                        <string>test_user</string>
                    </element>
                    <element key="password">
                        <string>test_password</string>
                    </element>
                    <element key="dbname">
                        <string>test_database_name</string>
                    </element>
                </array>

            </arguments>
        </listener>
        <listener class="\Nnx\ZF2TestToolkit\Listener\InitTestAppListener">
            <arguments>
                <!-- Имя соеденения - которое можно получить через сервис doctrine.connection.ИМЯ_СОЕДЕНЕНИЯ -->
                <string>orm_default</string>
                <!-- Используемый драйвер -->
                <string>\Doctrine\DBAL\Driver\PDOMySql\Driver</string>
                <array>
                    <element key="host">
                        <string>test_hosts</string>
                    </element>
                    <element key="port">
                        <string>test_port</string>
                    </element>
                    <element key="user">
                        <string>test_user</string>
                    </element>
                    <element key="password">
                        <string>test_password</string>
                    </element>
                    <element key="dbname">
                        <string>test_database_name</string>
                    </element>
                </array>

            </arguments>
        </listener>
    </listeners>

</phpunit>
