<?php
/**
 * @link    https://github.com/nnx-framework/doctrine
 * @author  Malofeykin Andrey  <and-rey2@yandex.ru>
 */


return [
    'nnx_doctrine' => [
        /**
         * Строка, используемая как разделитель в полном имени класса сущности(или интерфейса), которая разделяет неймспейс
         * на две части: 1) Нейсмпейс в котором расположенные все сущности 2) Постфикс указывающий на кокнетную сущность.
         *
         * (@see \Nnx\Doctrine\Options\ModuleOptions::$entitySeparator)
         *
         */
        'entitySeparator' => '\\Entity\\',

        /**
         *  Паттерн по которому из имени интерфейса можно получить строку, являющеюся заготовкой для формирования имени сущности
         */
        'entityBodyNamePattern' => '/(.+)?Interface$/',

        /**
         * Строка которая добавляется перед  заготовкой имени сущности полученной в результате
         * примерения @see \Nnx\Doctrine\Options\ModuleOptions::$entityBodyNamePattern к имени интерфейса.
         */
        'entityNamePrefix' => '',

        /**
         * Строка которая добавляется после заготовки имени сущности полученной в результате примерения
         * @see \Nnx\Doctrine\Options\ModuleOptions::$entityBodyNamePattern к имени интерфейса.
         */
        'entityNamePostfix' => '',

        /**
         * Имя сервиса, позволяющего получить объект кеша из модуля doctrine/cache, для сохранения карты сущностей
         *
         * (@see https://github.com/doctrine/DoctrineModule)
         * (@see vendor/doctrine/doctrine-module/config/module.config.php)
         * (@see \DoctrineModule\Service\CacheFactory)
         */
        'entityMapDoctrineCache' => null,

        /**
         * Флаг определяет, нужно ли автоматически собирать кеш карты сущностей
         */
        'flagAutoBuildEntityMapDoctrineCache' => false,

        /**
         * Флаг позволяет отключить использования кеширования при работе с entityMap
         */
        'flagDisableUseEntityMapDoctrineCache' => false,

        /**
         * Список EntityManager'ов, для которых никогда не нужно собирать кеш entityMap  в автоматическом режими
         */
        'excludeEntityManagerForAutoBuildEntityMap' => [],

        /**
         * Префикс используемый для генерации ключа кеширования карты сущностей doctrine
         *
         */
        'entityMapDoctrineCachePrefix' => 'nnx_entity_map_',

        /**
         * Имя сервиса, позволяющего получить объект кеша из модуля doctrine/cache для кеширования метаданных сущности
         *
         * (@see https://github.com/doctrine/DoctrineModule)
         * (@see vendor/doctrine/doctrine-module/config/module.config.php)
         * (@see \DoctrineModule\Service\CacheFactory)
         *
         */
        'metadataReaderCache' => 'doctrine.cache.array'
    ]
];